{% extends 'base.html' %}
{% block title %} Polls {% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
<ul class="list-group col-md-6 pt-4">
    <li class="list-group-item">
        <div>What is your age?</div>
        <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
              <label class="form-check-label" for="firstCheckbox">10-14 years</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
              <label class="form-check-label" for="secondCheckbox">14-18 years</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
              <label class="form-check-label" for="thirdCheckbox">18+ years</label>
            </li>
          </ul>
    </li>
    <li class="list-group-item">

    </li>
  </ul>
</div>
{% endblock %}