{% extends 'base.html' %}
{% block title %} Create poll {% endblock %}
{% block content %}

    <div class="container-fluid d-flex justify-content-center pt-4">

    <form action="" method="POST" id="poll_form" class="col-md-6">
      {% csrf_token %}

        <div class="mb-3">
          <label for="ques" class="form-label">Question</label>
          <input type="text" class="form-control" id="ques" name="ques" required>
        </div>
        <div class="mb-3">
          <label for="opt-1" class="form-label">Option 1</label>
          <input type="text" class="form-control" id="opt-1"  name="option" required>
        </div>
        <div class="mb-3">
            <label for="opt-2" class="form-label">Option 2</label>
            <input type="text" class="form-control" id="opt-2"  name="option" required>
          </div>
        <div class="d-flex justify-content-end" id="add">
            <button type="button" class="btn btn-info" onclick="addOption()">Add Option +</button>
        </div>
        <button type="submit" class="btn btn-primary" id="submit_btn">Create poll</button>
      </form>
    </div>

{% endblock %}